<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="contain">
    <div class="row">
      <div class="col-md-12 text-center">
<h1 class="two2 lakme">GLOSSY</h1>
</div>
</div>
</div>

<footer>
    <div class="column">
    <a class="footer_title">GLOSSY</a>
    <a>The contemporary Indian beauty expert - Lakmé continuously innovates to offer a wide range of high performance and world class cosmetics and skincare products that have earned recognition from the People for the Ethical Treatment of Animals (PETA).</a>
    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="column">
    <a class="footer_title">OTHER LINKS</a>
    <a href="#">Beauty Consultation</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">FAQ</a>
    <a href="#">Contact Us</a>
    </div>
    <div class="column">
    <a class="footer_title">SHORT CUT</a>
    <a href="">Our Services</a>
    <a href="">Our Blog</a>
    <a href="">About Us</a>
    </div>
    <div class="column">
    <a class="footer_title">LATEST NEWS</a>
    <a href="" title="Lorem ipsum dolor sit amet"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/products/24544_H-8901030758850_3e09b888-1276-44a2-9665-fa293cbd5d3_300x.jpg?v=1601470864" width="50px" height="50px"></a>
    <a href="" title="Lorem ipsum dolor sit amet"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/products/24451_S1-8901030742439_300x.jpg?v=1611755731" width="50px" height="50px"></a>
    <a href="" title="Lorem ipsum dolor sit amet"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/products/29112_H1-8901030849282_1e7e722b-ea17-40ae-a778-7286196cf777_300x.jpg?v=1632136500" width="50px" height="50px"></a>
    <a href="" title="Lorem ipsum dolor sit amet"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/products/27474_H_8901030858710_300x.jpg?v=1634889505" width="50px" height="50px"></a>
    <a href="" title="Lorem ipsum dolor sit amet"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/products/29093_H1-8901030846502_300x.jpg?v=1629701633" width="50px" height="50px"></a>
    </div>
    <div class="column">
    <a class="footer_title">GET IN TOUCH</a>
    <a href="emailto:" title="Email"><i class="fa fa-envelope"></i> support@glossy.com</a>
    <a href="tel:" title="Contact"><i class="fa fa-phone"></i> 1800-313-9293</a>
    </div>
    
    <div class="sub-footer">
    © CopyRights 2022 LAKME || All rights reserved
    </div>
    </footer>