

<section>
    <div class="header">
      <nav>
        <a href="" class="logo">TRENDS</a>
        <div class="nav-links">
          <ul>
            <li><a routerLink="/trends">LIPSTICK</a></li>
            <li><a routerLink="/eyestrends">EYES</a></li>
            <li><a routerLink="/shadowtrends">EYESHADOW</a></li>
            <li><a routerLink="/foundation">FOUNDATION</a></li>
          </ul>
        </div>
      </nav>

      <div class="left-sidebar"></div>

      <div class="row">
        <div class="left-col">
          <img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/articles/1_d9a54198-8f1f-4923-bf63-3480e625019d_400x.png?v=1582278875" />
        </div>
        <div class="right-col">
          <h1>
            HOW TO ACE THE METALLIC EYE TREND
          </h1>
          <p>
            The glitter eyes have had their moment of glory, but this year, the metallic eye look has made a comeback in grandiose style. Lakme Fashion Week Summer Resort 2020 has seen multiple designers exhibit this look with absolute vogue. Smooth metallic eyes, with a mirror-like finish offers a subtle and clean eye look that complements nude and bold lips alike. Catching on the trend early, LAKMÉ ABSOLUTE INFINITY EYE SHADOW PALLETE - MIDNIGHT MAGIC offers multiple metallic shades that are sure to appease variant tastes. 
          </p>

          <div class="social-media">
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <a href="https://www.facebook.com/LakmeIndia/">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/ilovelakme">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-youtube"></i>
              <a href="https://www.youtube.com/channel/UCUI30rMByYDIEAEUFtG_Mtg">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/lakmeindia/?hl=en">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>