

<section>
    <div class="header">
      <nav>
        <a href="" class="logo">TRENDS</a>
        <div class="nav-links">
          <ul>
            <li><a routerLink="/trends">LIPSTICK</a></li>
            <li><a routerLink="/eyestrends">EYES</a></li>
            <li><a routerLink="/shadowtrends">EYESHADOW</a></li>
            <li><a routerLink="/foundation">FOUNDATION</a></li>
          </ul>
        </div>
      </nav>

      <div class="left-sidebar"></div>

      <div class="row">
        <div class="left-col">
          <img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/files/f9b946d0dc59--RedLipstick-1_250x250.png?v=1608017416" />
        </div>
        <div class="right-col">
          <h1>
            THE PERFECT RED LIPSTICK FOR YOUR SKIN TONE
          </h1>
          <p>
            If there’s one shade of lipstick that looks good on absolutely everyone, it’s red. There’s a ferocity to a red lip that can’t be achieved by any other colour. Even though a lot of us fantasize about wearing a bright red lip, identifying ‘the one’ can be difficult.<br>
            Red lipsticks that have more yellow and orange tones in them work for warm undertones. In fact, orangey-reds will make your complexion pop. Try the Lakmé 9to5 Naturale Matte Sticks Lipstick in Rouge Metro, and the Lakmé 9to5 Primer + Matte Lipstick in Red Coat and Scarlet Surge.

If you have a cool undertone, red lipstick with undertones of blue will look great on you. It will instantly brighten your skin, and make your teeth look whiter! You can try the Lakmé 9to5 Primer + Matte Lipstick in Red Coat, which has an intense colour pay-off and lasts for up to 12 hours.

For someone with a neutral undertone, classic shades of red would work beautifully. You would definitely find Kareena Kapoor Khan By Lakmé Absolute Pout Definer in Red Seductress a foolproof colour choice.

If this is the first time you’re considering buying a red lipstick, you may want to look for one that comes in a sheer formula. Lip tints or lip balms are much easier to work with. They’re perfect for beginners. You could even apply a red lipstick using your finger. This will give your lips a naturally stained effect. Try the Lakmé Absolute Lip Pout Matte in Raving Red to achieve this look; it has the perfect shade and consistency to make a statement without looking over the top.
          </p>

          <div class="social-media">
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <a href="https://www.facebook.com/LakmeIndia/">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/ilovelakme">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-youtube"></i>
              <a href="https://www.youtube.com/channel/UCUI30rMByYDIEAEUFtG_Mtg">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/lakmeindia/?hl=en">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>