

<section>
    <div class="header">
      <nav>
        <a href="" class="logo">TRENDS</a>
        <div class="nav-links">
          <ul>
            <li><a routerLink="/trends">LIPSTICK</a></li>
            <li><a routerLink="/eyestrends">EYES</a></li>
            <li><a routerLink="/shadowtrends">EYESHADOW</a></li>
            <li><a routerLink="/foundation">FOUNDATION</a></li>
          </ul>
        </div>
      </nav>

      <div class="left-sidebar"></div>

      <div class="row">
        <div class="left-col">
          <img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/files/61fef8f78cbd--Step-3-grande_250x250.png?v=1608023314" />
        </div>
        <div class="right-col">
          <h1>
            GET SMOKEY EYES IN 5-MINUTES
          </h1>
          <p>
            STEP 1:
            Lakmé Absolute White Intense Liquid Concealer and blend it out using your ring finger and light dabbing motions.<br>
            STEP 2:
Using the Lakmé 9to5 Naturale Finishing Powder and a fluffy brush, lightly dust some powder on top of your eyelids to set the concealer. This will keep your eyelids matte and increase the longevity of the eye makeup. You can even use a light-coloured eyeshadow from the Lakme Absolute Spotlight Eyeshadow Palette, Smokin Glam, 12g for this step.<br>
STEP 3:
Using the Kareena Kapoor Khan By Lakmé Absolute Eye Definer pencil, draw a ‘#’ in the outer corners of your eyelids. Remember, the hashtag symbol should not extend beyond the crease.<br>
          </p>

          <div class="social-media">
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <a href="https://www.facebook.com/LakmeIndia/">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/ilovelakme">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-youtube"></i>
              <a href="https://www.youtube.com/channel/UCUI30rMByYDIEAEUFtG_Mtg">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
            <div class="icon">
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/lakmeindia/?hl=en">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>