<div class=container>
	<div id="proparallax">
		<img class="one" src="https://cdn.shopify.com/s/files/1/0014/3514/0183/files/Holi_Homepage_page_banner_1800x.jpg?v=1647518043" width="100%" /> 
		<img class="two" src="../assets/image2.webp" />
		<img class="three" src="../assets/image3.webp"/>
        <img class="three" src="../assets/image4.webp"/>
        <img class="three" src="../assets/image5.webp"/>
        <img class="three" src="../assets/image6.webp"/>
	</div>
</div>
<app-section></app-section>
